/* style.css */

body {
    background-image: url("/static/images/germ-project-pic.jpeg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Ensures the background image stays fixed as the user scrolls */
    color: white; /* Text color */
}
